@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

<h2>
    Welcome to the the Litmus API Demo Applications
</h2>
<p>
    <label for="ApiKey">Your API Key:</label> @AuthHelper.ApiUsername  <br />
    <label for="ApiPassword">Your API Password</label> @AuthHelper.ApiPassword 
</p>
<p>
    If you have any questions please contact us at <a href="mailto:hello@litmus.com">hello@litmus.com</a>.
</p>