@using Litmus.Apis.Previews
@using Litmus.Apis.Previews.Models
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Fetch Email Test";

    var litmusPreviewsApi = new PreviewsApi(AuthHelper.ApiUsername, AuthHelper.ApiPassword);
    var returnedTest = new EmailTest();
    
    if (Request["test"] != null)
    {
        returnedTest = litmusPreviewsApi.GetEmailTest(int.Parse(Request["test"]));
    }
    
}

<h2>Email Test Results</h2>

<label>Test Id: </label> @returnedTest.Id<br />

<label>Status: </label> @returnedTest.State

<table>
    @foreach(var result in @returnedTest.TestingApplications){
    <tr>
        <td>@result.ApplicationLongName</td>
        <td>
            <img src="http://@result.FullpageImageThumb" />
        </td>
    </tr>
    }

</table>