@using Litmus.Apis.Previews
@using Litmus.Apis.Previews.Models
@using Microsoft.Ajax.Utilities
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Start Links Test";

    var litmusPreviewsApi = new PreviewsApi(AuthHelper.ApiUsername, AuthHelper.ApiPassword);
    var returnedTest = new LinksTest();
    
    if (IsPost)
    {
        var html = File.ReadAllText(Server.MapPath("Example.html"));

        returnedTest = litmusPreviewsApi.CreateLinksTest(html);
    }
    
}

<h2>Starting A Links Test</h2>
<p>Click the button below to start a Links Test with sample HTML we've provided.</p>

<form method="POST">
    <input type="submit" value="Submit a Test"/>
</form>

@if (!returnedTest.Error && IsPost){
    <text>Test created!  Click <a href="FetchResults?test=@returnedTest.Id">here</a> to start polling for results for this test.<br /></text>
}

